p {
    color: green;
    text-align: center;
}
.red_text {
  color: red;
}
#pink_text {
    color: deeppink;
}
a {
    color: blue;
}
.list a {
    color: deeppink;
    display: list-item;
    list-style-type: none;
}
.list a.main_list_elements {
    color: green;
}
.list li > a.list_last_element {
    list-style-type: square;
    text-decoration: none;
}
li > a:not(.main_list_elements) {
    margin-left: 20px;
}

h1 + p.first_parag {
    font-size: 20px;
}
p > code {
    color: red;
    white-space: pre;
    font-family: monospace;
}
p + p > code {
    color: pink;
}

table {
    border-collapse: collapse;
    width: 800px;
}
tr, td {
    width: 100px;
    height: 50px;
    text-align: center;
    border: 1px solid black;
}
thead > tr > td:nth-child(1) {
    background-color: #f2dbdb;
}
thead > tr > td:nth-child(2) {
    background-color: #e5b8b7;
}
thead > tr > td:nth-child(3) {
    background-color: #d99594;
    color: white;
}
thead > tr > td:nth-child(4) {
    background-color: #943634;
    color: white;
}
thead > tr > td:nth-child(5) {
    background-color: #632423;
    color: white;
}
tbody > tr:nth-child(odd) {
    background-color: #e5b8b7;
}
tbody > tr:nth-child(even) {
    background-color: #f2dbdb;
}
tbody > tr > td:first-child {
    background-color: #c0504d;
    color: white;
}